/* Reset default margins/paddings */
* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body layout */
body {
  font-family: Arial, sans-serif;
}

/* Sidebar heading */
.Header {
  padding-bottom: 40px;
}

/* Sidebar styles */
.sidebar {
  border-right:  solid rgb(83, 83, 83) 1px;
  width: 330px;
  height: 100vh;
  background-color: black;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;              /* moved up since navbar is gone */
  left: 0;
}

/* Sidebar title */
.sidebar h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

/* Sidebar list */
.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 15px;
  justify-items: center;
}

/* Sidebar links (image + text friendly) */
.sidebar ul li a.sidebar-link {
  display: flex;              /* IMPORTANT for image beside text */
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: white;
  padding: 10px 12px;
  border-radius: 4px;
  transition: 0.3s;
}

/* Hover effect */
.sidebar ul li a:hover {
 transition: 0.6s;
 box-shadow: 1px 1px 1px 1px white;
}

/* Icon image */
.icon {
  width: 22px;
  height: 22px;
}

/* Main content */
.main-content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
}

.main-content h1 {
  margin-bottom: 15px;
}

.Box3{
  position: fixed;
  background-color: rgb(0, 0, 0);
  height: 99.3%;
  width: 45%;
  left: 330px;
  border-right:  solid rgb(83, 83, 83) 1px;
}

.Feed{
  position: relative;
  height: 40px;
  width: 45.5%;
  background-color: rgb(63, 63, 63);
}

body {
  margin: 0; /* remove browser default gap */
}

.Box3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

/* Base feed styling for all feed containers */
.Feed, .Feed2 {
  background-color: #000000;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  border-bottom:solid rgb(83, 83, 83) 1px;


  /* Flexbox centering */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Consistent sizing */
  width: 100%;
  height: 65px;          /* fixed professional height */
  padding: 0 20px;       /* horizontal padding only */
  margin: 0;
}


.Feed:hover, .Feed2:hover {
  transition: 0.4s;
  background-color: rgb(91, 90, 90);
}

.box-stat{
  position: fixed;
  height: 15%;
  width: 44.9%;
  top: 64.9px;
  left: 21.6%;
  border-bottom: solid rgb(83, 83, 83) 2px;
}

.profbox{
  position: relative;
  height: 99.2%;
  width: 75px;
}

.box-stat .profbox .diego{
  height: 45px;
  width: 50px;
  margin-top: 30px;
  margin-left: 17px;
  border-radius: 150px;
}


.Thoughts {
  position: absolute;
  color: white;
  border: none;
  font-size: large;
  width: 35%;
  height: 60.2px;
  top: 11.2%;
  left: 27%;
}

.Submit{
background-color: white;
height: 40px;
width: 70px;
font-weight: bold;
font-family:Verdana, Geneva, Tahoma, sans-serif;
left: 61.4%;
top: 130px;
border: none;
position: absolute;
border-radius: 15px;
}

.Submit:hover{
  transition: 0.2s;
  background-color: rgb(91, 90, 90);
}

.Details {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: repeat(3, 100px);

  background-color: white;
  height: 40px;
  width: 100%;
}

.Details {
  display: flex;
  align-items: center;
  gap: 18px;

  height: 48px;
  padding: 0 16px;

  background-color: #000;
}

.Details img {
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.85;
}

.Details img:hover {
  opacity: 1;
}
