/* EXTRA POSTS SPACING */
.Post {
  margin-bottom: 40px;
}

/* RIGHT SIDEBAR */
.RightBar {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: black;
  border-left: solid rgb(83, 83, 83) 1px;
  padding: 15px;
  color: white;
  font-family: Arial, sans-serif;
}

.RightBar h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.RightBar p {
  margin: 6px 0;
  cursor: pointer;
  color: rgb(176,176,176);
}

.RightBar p:hover {
  color: white;
}